USE [KTPM]
GO
/****** Object:  Table [dbo].[HoSo]    Script Date: 1/10/2026 10:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoSo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[SDT] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Ext] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 1/10/2026 10:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyen](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[Ext] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 1/10/2026 10:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[Ten] [varchar](50) NOT NULL,
	[MatKhau] [varchar](255) NULL,
	[QuyenID] [int] NULL,
	[HoSoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ten] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewHoSo]    Script Date: 1/10/2026 10:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ViewHoSo] AS
SELECT
HoSo.*,
TaiKhoan.Ten AS TenDangNhap,
MatKhau,
QuyenId,
Quyen.Ten AS Quyen
FROM TaiKhoan
INNER JOIN Quyen ON QuyenId = Quyen.Id
INNER JOIN HoSo ON HoSoId = HoSo.Id
GO
/****** Object:  Table [dbo].[HanhChinh]    Script Date: 1/10/2026 10:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HanhChinh](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[TrucThuocId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonVi]    Script Date: 1/10/2026 10:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonVi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[HanhChinhId] [int] NULL,
	[TenHanhChinh] [nvarchar](50) NULL,
	[TrucThuocId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewDonVi]    Script Date: 1/10/2026 10:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ViewDonVi] AS
SELECT
T.*,
DonVi.Ten AS TrucThuoc
FROM ( 
SELECT
DonVi.*,
HanhChinh.Ten AS Cap
FROM DonVi
INNER JOIN HanhChinh ON HanhChinhId = HanhChinh.Id
) AS T
LEFT JOIN DonVi ON T.TrucThuocId = DonVi.Id
GO
/****** Object:  Table [dbo].[CoSoBanThuocBVTV]    Script Date: 1/10/2026 10:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoSoBanThuocBVTV](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[BanDoId] [int] NULL,
	[LoaiId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BanDoPhanBo]    Script Date: 1/10/2026 10:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BanDoPhanBo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ToaDoX] [float] NULL,
	[ToaDoY] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanLoai]    Script Date: 1/10/2026 10:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanLoai](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Loai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoSoBanPhanBon]    Script Date: 1/10/2026 10:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoSoBanPhanBon](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[BanDoId] [int] NULL,
	[LoaiId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewCoSoBuonBan]    Script Date: 1/10/2026 10:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ViewCoSoBuonBan]
AS
WITH Combined AS (
SELECT
Id,
Ten,
DiaChi,
BanDoId,
LoaiId
FROM CoSoBanPhanBon
UNION ALL
SELECT
Id,
Ten,
DiaChi,
BanDoId,
LoaiId
FROM CoSoBanThuocBVTV
)
SELECT
C.Id,
C.Ten AS Ten,
C.LoaiId,
PL.Loai AS Loai,
C.DiaChi AS DiaChi,
C.BanDoId,
BDPB.ToaDoX,
BDPB.ToaDoY
FROM
(
SELECT
*,
ROW_NUMBER() OVER (PARTITION BY Ten ORDER BY Id) AS RN
FROM Combined
) AS C
INNER JOIN PhanLoai PL
ON C.LoaiId = PL.Id
INNER JOIN BanDoPhanBo BDPB
ON C.BanDoId = BDPB.Id
WHERE C.RN = 1;
GO
/****** Object:  Table [dbo].[CoSoSanXuatPhanBon]    Script Date: 1/10/2026 10:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoSoSanXuatPhanBon](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[BanDoId] [int] NULL,
	[LoaiId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoSoSanXuatThuocBVTV]    Script Date: 1/10/2026 10:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoSoSanXuatThuocBVTV](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[BanDoId] [int] NULL,
	[LoaiId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewCoSoSanXuat]    Script Date: 1/10/2026 10:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ViewCoSoSanXuat]
AS
WITH Combined AS (
SELECT
Id,
Ten,
DiaChi,
BanDoId,
LoaiId
FROM CoSoSanXuatPhanBon
UNION ALL
SELECT
Id,
Ten,
DiaChi,
BanDoId,
LoaiId
FROM CoSoSanXuatThuocBVTV
)
SELECT
C.Id,
C.Ten AS Ten,
C.LoaiId,
PL.Loai,
C.DiaChi AS DiaChi,
C.BanDoId,
BDPB.ToaDoX,
BDPB.ToaDoY
FROM
(
SELECT
*,
ROW_NUMBER() OVER (PARTITION BY Ten ORDER BY Id) AS RN
FROM Combined
) AS C
INNER JOIN PhanLoai PL ON C.LoaiId = PL.Id
INNER JOIN BanDoPhanBo BDPB ON C.BanDoId = BDPB.Id
WHERE C.RN = 1;
GO
/****** Object:  Table [dbo].[VungTrong]    Script Date: 1/10/2026 10:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VungTrong](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QuyMo] [float] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[BanDoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiongCayChinh]    Script Date: 1/10/2026 10:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiongCayChinh](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[PhanLoai] [nvarchar](50) NULL,
	[MuaVu] [nvarchar](50) NULL,
	[SanLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiongCayDauDong]    Script Date: 1/10/2026 10:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiongCayDauDong](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[NguonGoc] [nvarchar](50) NULL,
	[DacTinh] [nvarchar](255) NULL,
	[ThoiGianThuHoach] [int] NULL,
	[GiongId] [int] NULL,
	[VTId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewGiongCay]    Script Date: 1/10/2026 10:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ViewGiongCay]
AS
SELECT
GCD.Id,
GCD.Ten AS Ten,
GCD.NguonGoc,
GCD.DacTinh,
GCD.ThoiGianThuHoach,
GCC.Ten AS Giong,
VT.DiaChi AS VungTrong,
BDPB.ToaDoX,
BDPB.ToaDoY
FROM
GiongCayDauDong GCD
INNER JOIN
GiongCayChinh GCC ON GCD.GiongId = GCC.Id
INNER JOIN
VungTrong VT ON GCD.VTId = VT.Id
INNER JOIN
BanDoPhanBo BDPB ON VT.BanDoId = BDPB.Id;
GO
/****** Object:  Table [dbo].[SinhVatGayHai]    Script Date: 1/10/2026 10:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVatGayHai](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[PhanLoai] [nvarchar](50) NULL,
	[CayAH] [nvarchar](50) NULL,
	[VTId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TuoiSau]    Script Date: 1/10/2026 10:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TuoiSau](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[TuoiSau] [int] NULL,
	[DoPhoBien] [nvarchar](50) NULL,
	[SVId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewSinhVatGayHai]    Script Date: 1/10/2026 10:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ViewSinhVatGayHai]
AS
SELECT
	TS.Id AS Id,
	TS.Ten AS Ten,
	TS.TuoiSau,
	TS.DoPhoBien,
	SVGH.PhanLoai,
	SVGH.CayAH,
	VT.DiaChi AS Vung,
	BDPB.ToaDoX,
	BDPB.ToaDoY
FROM
	TuoiSau TS
INNER JOIN
SinhVatGayHai SVGH ON TS.SVId = SVGH.Id
INNER JOIN
VungTrong VT ON SVGH.VTId = VT.Id
INNER JOIN
BanDoPhanBo BDPB ON VT.BanDoId = BDPB.Id;
GO
/****** Object:  Table [dbo].[CapNhat_SVGH]    Script Date: 1/10/2026 10:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CapNhat_SVGH](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NgayGioCN] [datetime] NULL,
	[TienDo] [nvarchar](50) NULL,
	[SVId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CS_VG]    Script Date: 1/10/2026 10:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CS_VG](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[BanDoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiongCayLuuHanh]    Script Date: 1/10/2026 10:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiongCayLuuHanh](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[NoiPhoBien] [nvarchar](255) NULL,
	[CongDung] [nvarchar](255) NULL,
	[DacDiem] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ten] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanBon]    Script Date: 1/10/2026 10:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanBon](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[ThanhPhan] [nvarchar](50) NULL,
	[PhanLoai] [nvarchar](50) NULL,
	[VTId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanBon_CoSoBan]    Script Date: 1/10/2026 10:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanBon_CoSoBan](
	[PhanBonId] [int] NOT NULL,
	[CoSoBanId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PhanBonId] ASC,
	[CoSoBanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanBon_CoSoSanXuat]    Script Date: 1/10/2026 10:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanBon_CoSoSanXuat](
	[PhanBonId] [int] NOT NULL,
	[CoSoSanXuatId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PhanBonId] ASC,
	[CoSoSanXuatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TenHanhChinh]    Script Date: 1/10/2026 10:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TenHanhChinh](
	[Ten] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuocBVTV]    Script Date: 1/10/2026 10:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuocBVTV](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[NgaySX] [date] NULL,
	[HanSD] [date] NULL,
	[VTId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuocBVTV_CoSoBan]    Script Date: 1/10/2026 10:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuocBVTV_CoSoBan](
	[ThuocBVTVId] [int] NOT NULL,
	[CoSoBanId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ThuocBVTVId] ASC,
	[CoSoBanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuocBVTV_CoSoSanXuat]    Script Date: 1/10/2026 10:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuocBVTV_CoSoSanXuat](
	[ThuocBVTVId] [int] NOT NULL,
	[CoSoSanXuatId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ThuocBVTVId] ASC,
	[CoSoSanXuatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tinh]    Script Date: 1/10/2026 10:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tinh](
	[MaVung] [int] NULL,
	[Ten] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Xa]    Script Date: 1/10/2026 10:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Xa](
	[STT] [int] NULL,
	[Ten] [nvarchar](50) NULL,
	[Tinh] [nvarchar](50) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CapNhat_SVGH]  WITH CHECK ADD FOREIGN KEY([SVId])
REFERENCES [dbo].[SinhVatGayHai] ([Id])
GO
ALTER TABLE [dbo].[CoSoBanPhanBon]  WITH CHECK ADD FOREIGN KEY([BanDoId])
REFERENCES [dbo].[BanDoPhanBo] ([Id])
GO
ALTER TABLE [dbo].[CoSoBanPhanBon]  WITH CHECK ADD FOREIGN KEY([LoaiId])
REFERENCES [dbo].[PhanLoai] ([Id])
GO
ALTER TABLE [dbo].[CoSoBanThuocBVTV]  WITH CHECK ADD FOREIGN KEY([BanDoId])
REFERENCES [dbo].[BanDoPhanBo] ([Id])
GO
ALTER TABLE [dbo].[CoSoBanThuocBVTV]  WITH CHECK ADD FOREIGN KEY([LoaiId])
REFERENCES [dbo].[PhanLoai] ([Id])
GO
ALTER TABLE [dbo].[CoSoSanXuatPhanBon]  WITH CHECK ADD FOREIGN KEY([BanDoId])
REFERENCES [dbo].[BanDoPhanBo] ([Id])
GO
ALTER TABLE [dbo].[CoSoSanXuatPhanBon]  WITH CHECK ADD FOREIGN KEY([LoaiId])
REFERENCES [dbo].[PhanLoai] ([Id])
GO
ALTER TABLE [dbo].[CoSoSanXuatThuocBVTV]  WITH CHECK ADD FOREIGN KEY([BanDoId])
REFERENCES [dbo].[BanDoPhanBo] ([Id])
GO
ALTER TABLE [dbo].[CoSoSanXuatThuocBVTV]  WITH CHECK ADD FOREIGN KEY([LoaiId])
REFERENCES [dbo].[PhanLoai] ([Id])
GO
ALTER TABLE [dbo].[CS_VG]  WITH CHECK ADD FOREIGN KEY([BanDoId])
REFERENCES [dbo].[BanDoPhanBo] ([Id])
GO
ALTER TABLE [dbo].[DonVi]  WITH CHECK ADD FOREIGN KEY([HanhChinhId])
REFERENCES [dbo].[HanhChinh] ([Id])
GO
ALTER TABLE [dbo].[DonVi]  WITH CHECK ADD FOREIGN KEY([TrucThuocId])
REFERENCES [dbo].[DonVi] ([Id])
GO
ALTER TABLE [dbo].[GiongCayChinh]  WITH CHECK ADD FOREIGN KEY([PhanLoai])
REFERENCES [dbo].[GiongCayLuuHanh] ([Ten])
GO
ALTER TABLE [dbo].[GiongCayDauDong]  WITH CHECK ADD FOREIGN KEY([GiongId])
REFERENCES [dbo].[GiongCayChinh] ([Id])
GO
ALTER TABLE [dbo].[GiongCayDauDong]  WITH CHECK ADD FOREIGN KEY([VTId])
REFERENCES [dbo].[VungTrong] ([Id])
GO
ALTER TABLE [dbo].[HanhChinh]  WITH CHECK ADD FOREIGN KEY([TrucThuocId])
REFERENCES [dbo].[HanhChinh] ([Id])
GO
ALTER TABLE [dbo].[PhanBon]  WITH CHECK ADD FOREIGN KEY([VTId])
REFERENCES [dbo].[VungTrong] ([Id])
GO
ALTER TABLE [dbo].[PhanBon_CoSoBan]  WITH CHECK ADD FOREIGN KEY([CoSoBanId])
REFERENCES [dbo].[CoSoBanPhanBon] ([Id])
GO
ALTER TABLE [dbo].[PhanBon_CoSoBan]  WITH CHECK ADD FOREIGN KEY([PhanBonId])
REFERENCES [dbo].[PhanBon] ([Id])
GO
ALTER TABLE [dbo].[PhanBon_CoSoSanXuat]  WITH CHECK ADD FOREIGN KEY([CoSoSanXuatId])
REFERENCES [dbo].[CoSoSanXuatPhanBon] ([Id])
GO
ALTER TABLE [dbo].[PhanBon_CoSoSanXuat]  WITH CHECK ADD FOREIGN KEY([PhanBonId])
REFERENCES [dbo].[PhanBon] ([Id])
GO
ALTER TABLE [dbo].[SinhVatGayHai]  WITH CHECK ADD FOREIGN KEY([VTId])
REFERENCES [dbo].[VungTrong] ([Id])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([HoSoId])
REFERENCES [dbo].[HoSo] ([Id])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([QuyenID])
REFERENCES [dbo].[Quyen] ([Id])
GO
ALTER TABLE [dbo].[ThuocBVTV]  WITH CHECK ADD FOREIGN KEY([VTId])
REFERENCES [dbo].[VungTrong] ([Id])
GO
ALTER TABLE [dbo].[ThuocBVTV_CoSoBan]  WITH CHECK ADD FOREIGN KEY([CoSoBanId])
REFERENCES [dbo].[CoSoBanThuocBVTV] ([Id])
GO
ALTER TABLE [dbo].[ThuocBVTV_CoSoBan]  WITH CHECK ADD FOREIGN KEY([ThuocBVTVId])
REFERENCES [dbo].[ThuocBVTV] ([Id])
GO
ALTER TABLE [dbo].[ThuocBVTV_CoSoSanXuat]  WITH CHECK ADD FOREIGN KEY([CoSoSanXuatId])
REFERENCES [dbo].[CoSoSanXuatThuocBVTV] ([Id])
GO
ALTER TABLE [dbo].[ThuocBVTV_CoSoSanXuat]  WITH CHECK ADD FOREIGN KEY([ThuocBVTVId])
REFERENCES [dbo].[ThuocBVTV] ([Id])
GO
ALTER TABLE [dbo].[TuoiSau]  WITH CHECK ADD FOREIGN KEY([SVId])
REFERENCES [dbo].[SinhVatGayHai] ([Id])
GO
ALTER TABLE [dbo].[VungTrong]  WITH CHECK ADD FOREIGN KEY([BanDoId])
REFERENCES [dbo].[BanDoPhanBo] ([Id])
GO
